In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize
from datetime import datetime

In [2]:
# Load json data and normalize JSON data into a flat table
receipts_json = [json.loads(line) for line in open('D:/users/FR/receipts.json', 'r')]
receipts = json_normalize(receipts_json)

users_json = [json.loads(line) for line in open('D:/users/FR/users.json', 'r')]
users = json_normalize(users_json)

brands_json = [json.loads(line) for line in open('D:/users/FR/brands.json', 'r')]
brands = json_normalize(brands_json)

In [3]:
# Review users dataset
users

,active,role,signUpSource,state,_id.$oid,createdDate.$date,lastLogin.$date
0,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
1,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
2,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
3,True,consumer,Email,WI,5ff1e1eacfcf6c399c274ae6,1609687530554,1.609688e+12
4,True,consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,1609687444800,1.609688e+12
...,...,...,...,...,...,...,...
490,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
491,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
492,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
493,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12
494,True,fetch-staff,NaN,NaN,54943462e4b07e684157a532,1418998882381,1.614963e+12

In [4]:
# Check for missing value
users.isnull().sum()

active                0
role                  0
signUpSource         48
state                56
_id.$oid              0
createdDate.$date     0
lastLogin.$date      62
dtype: int64

In [5]:
# Update column names
users.rename(columns={'_id.$oid': 'id', 'createdDate.$date': 'createdDate', 'lastLogin.$date': 'lastLogin'}, inplace=True)

# Convert unix timestamp to human readble timestamp
users['createdDate'] = pd.to_datetime(users['createdDate'], errors='ignore', unit='ms', origin='unix')
users['lastLogin'] = pd.to_datetime(users['lastLogin'], errors='ignore', unit='ms', origin='unix')

# Remove duplicate rows
users.drop_duplicates(inplace=True)

In [6]:
# Review brands dataset
brands

,barcode,category,categoryCode,name,topBrand,_id.$oid,cpg.$id.$oid,cpg.$ref,brandCode
0,511111019862,Baking,BAKING,test brand @1612366101024,False,601ac115be37ce2ead437551,601ac114be37ce2ead437550,Cogs,NaN
1,511111519928,Beverages,BEVERAGES,Starbucks,False,601c5460be37ce2ead43755f,5332f5fbe4b03c9a25efd0ba,Cogs,STARBUCKS
2,511111819905,Baking,BAKING,test brand @1612366146176,False,601ac142be37ce2ead43755d,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146176
3,511111519874,Baking,BAKING,test brand @1612366146051,False,601ac142be37ce2ead43755a,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146051
4,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,False,601ac142be37ce2ead43755e,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1612366146827
...,...,...,...,...,...,...,...,...,...
1162,511111116752,Baking,BAKING,test brand @1601644365844,NaN,5f77274dbe37ce6b592e90c0,5f77274dbe37ce6b592e90bf,Cogs,NaN
1163,511111706328,Breakfast & Cereal,NaN,Dippin DotsÃ‚Â® Cereal,NaN,5dc1fca91dda2c0ad7da64ae,53e10d6368abd3c7065097cc,Cogs,DIPPIN DOTS CEREAL
1164,511111416173,Candy & Sweets,CANDY_AND_SWEETS,test brand @1598639215217,NaN,5f494c6e04db711dd8fe87e7,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1598639215217
1165,511111400608,Grocery,NaN,LIPTON TEA Leaves,False,5a021611e4b00efe02b02a57,5332f5f6e4b03c9a25efd0b4,Cogs,LIPTON TEA Leaves
1166,511111019930,Baking,BAKING,test brand @1613158231643,False,6026d757be37ce6369301468,6026d757be37ce6369301467,Cogs,TEST BRANDCODE @1613158231644

In [7]:
# Check for missing value
brands.isnull().sum()

barcode           0
category        155
categoryCode    650
name              0
topBrand        612
_id.$oid          0
cpg.$id.$oid      0
cpg.$ref          0
brandCode       234
dtype: int64

In [8]:
# Update column names
brands.rename(columns={'_id.$oid': 'id', 'cpg.$id.$oid': 'cpg_id', 'cpg.$ref': 'cpg_ref'}, inplace=True)
brands

,barcode,category,categoryCode,name,topBrand,id,cpg_id,cpg_ref,brandCode
0,511111019862,Baking,BAKING,test brand @1612366101024,False,601ac115be37ce2ead437551,601ac114be37ce2ead437550,Cogs,NaN
1,511111519928,Beverages,BEVERAGES,Starbucks,False,601c5460be37ce2ead43755f,5332f5fbe4b03c9a25efd0ba,Cogs,STARBUCKS
2,511111819905,Baking,BAKING,test brand @1612366146176,False,601ac142be37ce2ead43755d,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146176
3,511111519874,Baking,BAKING,test brand @1612366146051,False,601ac142be37ce2ead43755a,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146051
4,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,False,601ac142be37ce2ead43755e,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1612366146827
...,...,...,...,...,...,...,...,...,...
1162,511111116752,Baking,BAKING,test brand @1601644365844,NaN,5f77274dbe37ce6b592e90c0,5f77274dbe37ce6b592e90bf,Cogs,NaN
1163,511111706328,Breakfast & Cereal,NaN,Dippin DotsÃ‚Â® Cereal,NaN,5dc1fca91dda2c0ad7da64ae,53e10d6368abd3c7065097cc,Cogs,DIPPIN DOTS CEREAL
1164,511111416173,Candy & Sweets,CANDY_AND_SWEETS,test brand @1598639215217,NaN,5f494c6e04db711dd8fe87e7,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1598639215217
1165,511111400608,Grocery,NaN,LIPTON TEA Leaves,False,5a021611e4b00efe02b02a57,5332f5f6e4b03c9a25efd0b4,Cogs,LIPTON TEA Leaves
1166,511111019930,Baking,BAKING,test brand @1613158231643,False,6026d757be37ce6369301468,6026d757be37ce6369301467,Cogs,TEST BRANDCODE @1613158231644

In [9]:
# Review receipts dataset
receipts

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,_id.$oid,createDate.$date,dateScanned.$date,finishedDate.$date,modifyDate.$date,pointsAwardedDate.$date,purchaseDate.$date
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,5.0,All-receipts receipt bonus,5,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
3,5.0,All-receipts receipt bonus,5.0,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12
4,5.0,All-receipts receipt bonus,5.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,603cc0630a720fde100003e6,1614594147000,1614594147000,NaN,1614594148000,NaN,1.597622e+12
1115,NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603d0b710a720fde1000042a,1614613361873,1614613361873,NaN,1614613361873,NaN,NaN
1116,NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603cf5290a720fde10000413,1614607657664,1614607657664,NaN,1614607657664,NaN,NaN
1117,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,603ce7100a7217c72c000405,1614604048000,1614604048000,NaN,1614604049000,NaN,1.597622e+12
1118,NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603c4fea0a7217c72c000389,1614565354962,1614565354962,NaN,1614565354962,NaN,NaN

In [10]:
# Check for missing value
receipts.isnull().sum()

bonusPointsEarned          575
bonusPointsEarnedReason    575
pointsEarned               510
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
_id.$oid                     0
createDate.$date             0
dateScanned.$date            0
finishedDate.$date         551
modifyDate.$date             0
pointsAwardedDate.$date    582
purchaseDate.$date         448
dtype: int64

In [11]:
# Update column names
receipts.rename(columns={'_id.$oid': 'id', 'createDate.$date': 'createDate', 'dateScanned.$date': 'dateScanned', 'finishedDate.$date' : 'finishedDate', 'modifyDate.$date' : 'modifyDate', 'pointsAwardedDate.$date' : 'pointsAwardedDate', 'purchaseDate.$date': 'purchaseDate'}, inplace=True)

# Convert unix timestamp to human readble timestamp
receipts['createDate'] = pd.to_datetime(receipts['createDate'], errors='ignore', unit='ms', origin='unix')
receipts['dateScanned'] = pd.to_datetime(receipts['dateScanned'], errors='ignore', unit='ms', origin='unix')
receipts['finishedDate'] = pd.to_datetime(receipts['finishedDate'], errors='ignore', unit='ms', origin='unix')
receipts['modifyDate'] = pd.to_datetime(receipts['modifyDate'], errors='ignore', unit='ms', origin='unix')
receipts['pointsAwardedDate'] = pd.to_datetime(receipts['pointsAwardedDate'], errors='ignore', unit='ms', origin='unix')
receipts['purchaseDate'] = pd.to_datetime(receipts['purchaseDate'], errors='ignore', unit='ms', origin='unix')

# Explode the 'rewardsReceiptItemList' column from receipts dataset
receipts_xplo = receipts.explode('rewardsReceiptItemList')

# Insert empty dict for 'rewardsReceiptItemList' missing values (To use json_normalize function)
receipts_xplo['rewardsReceiptItemList'] = receipts_xplo['rewardsReceiptItemList'].apply(lambda x: {} if pd.isna(x) else x)

# Reset index & drop the old index column
receipts_xplo = receipts_xplo.reset_index()
receipts_xplo = receipts_xplo.drop(columns=['index'])

# Normalize JSON data into a flat table
itemlist = json_normalize(data=receipts_xplo['rewardsReceiptItemList'])

# Add reference column to itemlist dataset
itemlist = pd.concat([receipts_xplo['id'], itemlist], axis=1)
itemlist.rename(columns={'id': 'receipts_id'}, inplace=True)

In [12]:
# Check for missing value
itemlist.isnull().sum()

receipts_id                              0
barcode                               4291
description                            821
finalPrice                             614
itemPrice                              614
needsFetchReview                      6568
partnerItemId                          440
preventTargetGapPoints                7023
quantityPurchased                      614
userFlaggedBarcode                    7044
userFlaggedNewItem                    7058
userFlaggedPrice                      7082
userFlaggedQuantity                   7082
needsFetchReviewReason                7162
pointsNotAwardedReason                7041
pointsPayerId                         6114
rewardsGroup                          5650
rewardsProductPartnerId               5112
userFlaggedDescription                7176
originalMetaBriteBarcode              7310
originalMetaBriteDescription          7371
brandCode                             4781
competitorRewardsGroup                7106
discountedItemPrice                   1612
originalReceiptItemText               1621
itemNumber                            7228
originalMetaBriteQuantityPurchased    7366
pointsEarned                          6454
targetPrice                           7003
competitiveProduct                    6736
originalFinalPrice                    7372
originalMetaBriteItemPrice            7372
deleted                               7372
priceAfterCoupon                      6425
metabriteCampaignId                   6518
dtype: int64

In [13]:
# Create csv files from the datasets (to import to MS SQL Server)
users.to_csv('D:/users/FR/users.csv', index=False)
brands.to_csv('D:/users/FR/brands.csv', index=False)
itemlist.to_csv('D:/users/FR/itemlist.csv', index=False)
receipts.to_csv('D:/users/FR/receipts.csv', index=False)